extends layout

block content
	div#page1(data-role='page')
		div(data-theme='a',data-role='header')
			h3 Header
	div(id="rankings",data-role='content')
		a(data-role='button',href='#page1') Button
		a(data-role='button',href='#page1') Button
		a(data-role='button',href='#page1') Button
	div(data-theme='a',data-role='footer',data-position='fixed')
		h3 Footer

