extends layout

block content
	div(data-role='page' data-theme='a')
		div(data-role='header')
			h1 235 WVB
		div(id='confirm' data-role='content')
			script.
				function makeTable() {
					var unit = !{dest};
					var divEle = document.getElementById("confirm");
					divEle.innerHTML += "You have selected unit <font color=\"#00CCFF\">" + unit.Unit + "</font>, is this correct?<br><br>";	
					for(var ii = 0; ii<unit.Name.length; ii++) 
						divEle.innerHTML += "Name:    <font color=\"#00CCFF\">" + unit.Name[ii] + "</font><br>";
					divEle.innerHTML += "<br>If correct press <font color=\"green\">Send</font>.<br>If not correct press <font color=\"red\">Cancel</font>";
			
				}
				makeTable();
		div(id='buttons')
			script.
				function makeButtons() {
					var dest = !{dest};
					var htmlString1 = "<a class=\"ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a\" href=\"/sendMail?email=" + dest.Email.toString() + ""; 
					var htmlString2 = "&pendingUnit=" + dest.Unit + "&pendingSeqNum=" + dest.SeqNumber + "&phone=" + dest.PhoneNumber.toString() + "\" style=\"background: green; color: white;\" data-role=\"button\" data-corners=\"true\" data-shadow=\"true\" data-iconshadow=\"true\" data-wrapperels=\"span\" data-theme=\"a\"><span class=\"ui-btn-inner ui-btn-corner-all\"><span class=\"ui-btn-text\">Send</span></span></a>";
 
					var divEle = document.getElementById("buttons");
					divEle.innerHTML += htmlString1 + htmlString2;					
					console.log(divEle.innerHTML);
				}
				makeButtons();

			a(data-role='button' style='background: red; color: white;' href='/') Cancel

		div(data-role='footer')
			h4 Call 512-587-0784 if broken


