extends layout

block content
	div(data-role='page' data-theme='a')
		div(data-role='header')
			h1 235 W. Van Buren Package System
		div(data-role='content')
			p This should show up
		div(data-role='footer')
			h4 Hello World


