extends layout

block content
	div(data-role='page' data-theme='a')
		div(data-role='header')
			h1 235 WVB
		div(data-role='content')
			ul(data-role='listview' data-filter='true' data-filter-placeholder='Unit number..' data-insert='true' data-diverdertheme='b')
				li(data-role='list-divider') Units
				li
					a(href='/external') 1010 
					a(href='/external') 4018
					a(href='/external') 4653
					a(href='/external') 3212
					a(href='/external') 3108
					a(href='/external') 1012
		div(data-role='footer')
			h4 Call 512-587-0784 if broken


