extends layout

block content
	div(data-role='page' data-theme='a')
		div(data-role='header')
			h1 235 WVB
		div(data-role='content')
			ul(data-role='listview' data-insert='true' data-diverdertheme='b')
				li(id='Units' data-role='list-divider') Units
					script.
						function changePage() {
							console.log('changing page');
						}
					script.
						function fillUnits() {
							console.log('filling units');
							var unitsArr = !{units};
							var divEle = document.getElementById("Units");
							for (var i = 0; i<unitsArr.length; i++) {
								divEle.innerHTML += "<li><a id=\"btn\" href=\"external?id=" + unitsArr[i] + "\" data-role=\"button\" on-click=\"changePage()\">" + unitsArr[i] + "</a></li>";
							}
						}
						fillUnits();
		div(data-role='footer')
			h4 Call 512-587-0784 if broken


