extends layout

block content
	div(data-role='page' data-theme='a')
		div(data-role='header')
			h1 235 W. Van Buren Package System
		div(data-role='content')
			ul(data-role='listview' data-insert='true' data-diverdertheme='b')
				li(id='Units' data-role='list-divider') Units
					script.
						function fillUnits() {
							console.log('filling units');
							var unitsArr = !{units};
							var func = !{fs.sayHi};
							func(unitsArr[0]);
							alert('In placing units');
							var divEle = document.getElementById("Units");
							for (var i = 0; i<unitsArr.length; i++) {
								divEle.innerHTML += "<li><a id=\"btn\" href=\"option1.html\" data-role=\"button\">" + unitsArr[i] + "</a></li>";
							}
						}
						fillUnits();
		div(data-role='footer')
			h4 Hello World


