extends layout

block content
	div(data-role='page' data-theme='a')
		div(data-role='header')
			h1 235 WVB
		div(id='table' data-role='content')
			p Message sent.
		div(id='buttons')
			a(data-role='button' style='background: green; color: white;' href='/') Continue

		div(data-role='footer')
			h4 Call 512-587-0784 if broken


